body {
    font-family: 'Source Sans Pro', sans-serif;
    
}

.container{
    width: 1024px;
    margin: 0 auto;
}


.top_header {
    height: 65px;
    display: block;
    align-items: center;
}

.logo {
    display: inline-block;
    height: 24px;
    width: 134px;
    margin-left: 47px;
    margin-top: 20px;
    /* margin-right: 37px; */
}

a{text-decoration: none;}

.top_right_nav {
    display: inline-block;
}

.nav {
    display: inline-block;
}

.top_right_nav li {
    display: inline-block;
    padding-left: 30px; 
    margin-top: 20px;
    font-size: 16px;
    color: black;
    font-weight: 600;
    border-color: blue;
}

.top_right_nav a {
    color: inherit;
    text-decoration: none;
}

a:hover {
    color: chartreuse;
}

.login {
    display:inline-block;
    width: 24px;
    height: 20px;
    cursor: pointer;
    /* margin-top: 19px; */
    margin-left: 14px;
    background: url(../img/sign-out.svg) center center no-repeat;
}

.photo {
    display: inline-block;
    /* smargin-top: 12px; */
    width: 40px;
    height: 40px;
    cursor: pointer;
    /* margin-left: 15px; */
    border-radius: 23.5px;
    background: url(../img/user-superstar-2x.jpg) center center no-repeat;
    background-size: 40px 40px;
}

.nam-em {
    display: inline-block;
    font-size: 14px;
    font-weight: 600;
    margin-left: 12px;
}

.span-box {
    display: inline-block;
    margin-left:72px;
}

.span-box span {
    display: inline-block;
}

.main {
    position: relative;
    padding-left: 47px;
    display: block;
    margin: 0 auto;
    height: 725px;
    background: url("../img/bg-1.jpg") center no-repeat;
    background-size: 1024px 765px;
    /* padding-left: 47px; */
}

.rot-l1 {
    padding-top: 141px;
    /*background-color: rgb(14, 26, 116);*/
}

.rot-l2 {
    margin: 47px 0;
    width: 450px;
}

.el1 {
    color: white;
    font-family: 'Overpass', sans-serif;
    font-size: 50px;
}


.el2 {
    font-size: 20px;
    color: white;
    line-height: 29px;
}

.top-btn {
    width: 290px;
    height: 40px;
    background-color: rgb(243, 130, 24);
    outline: none;
    border: none;
    color: white;
    border-radius: 4px;
}